body
{
	font-family:Helvetica,Arial,sans;
}
ul.events
{
	list-style-type:none;
	display:inline;
	
}

div.events
{
	margin:auto;
	padding: 5px;
	background-color: #ccc;
	width:50%;
}



div.header, div.deatils
{
	margin: 10px 8px;

	padding: 5px 10px;

}
div.header
{
	background-color:#eee;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}

div.details
{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

h3
{
	margin: .5em 0em;
}

p
{
	margin:0;
	background-color:#ddd;
}