/* http://colorschemedesigner.com/#3L32ng0tZiiGT */

body
{
	font-family:Helvetica,Arial,sans;

}
ul.events
{
	list-style-type:none;
	display:inline;
	
}

div.events
{
	margin: 15px auto;
	padding: 5px;
	background-color: #586EA0;
	/*width:90%;*/
}

div.item
{
	height:150px;
	background-color:#eee;
	/*border-bottom:3px solid #586EA0;*/
	border-radius:9px;
	-webkit-border-radius:9px;
	margin-bottom:3px;
}
div.item:hover
{
	cursor:pointer;
	background-color:#fff;
}

div.alt
{
	background-color:#ddd;
}

div.bullet
{
	float:left;
	width:20%;
	height:100%;
	border-right:1px solid white;
}


div.info
{
	float:left;
	width:75%;
	height:100%;
	padding-left:15px;

}



div.header
{
	font-size:1.4em;
	line-height:1.5em;
	color:white;
}

div.details
{
	float:left;
	height: 20%;
	width: 100%;
	padding-top:14px;
}

h3
{
	margin: .5em 0em;
}

h1
{
	width:100%;
	text-align:center;
	margin:auto;
	color:#324A80;
}



div.bullet ul
{
	list-style-type:none;
	margin:0px;
	padding-left:5px;
	height:100%;
}

div.bullet ul li
{
	font-size:1.1em;
}

li.date
{
	height:40%;
}

li.day
{
	height:30%;
	padding-top:10px;
}

li.time
{
	padding-top:3px;
}

li.day, li.time
{
	color:#324A80;

}
li.date
{
	color: #BD4447;
}

p.description
{
	font-size:1em;
	line-height: 1.3em;
	overflow: hidden;
	margin: 0px 1em 0px 0px;
	height: 40%;
}
h2.title
{
	font-size:1.2em;
	height: 18%;
	margin: 5px 0px 15px;
	color:#546489;

	line-height:1.3em;
	overflow:hidden;
}
h2.venue
{
	margin:4px;
	font-size:1em;
}
div.price h2
{
	font-size:1.4em;
	word-wrap:break-word;
}

div.details ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;

}
div.details ul li
{

	display:inline;
	font-size:1.1em;
	font-weight: bold;
}

div.details ul li.price
{
	float:right;
	margin-right:1em;
	font-style:bold;
	color: #BD4447;
}

@media all and (max-width:800px)
{

	div.bullet ul li
	{
		font-size:1em;
	}
	
	h2.title
	{
		font-size:1.1em;
		line-height:1.42em;
		font-weight:normal;
		margin-bottom:10px;
	}
}
