<div data-role="page" data-theme="d">
	<div data-role="header" data-theme="d">
		<h2>Venue</h2>
	</div>
	<div data-role="content">
	<table summary="venue detail view">
		<tr>
			<th>Name</th>
			<td><%= @venue.name%></td>
		</tr>
		<tr>
			<th>Address</th>
			<td><%= @venue.address%></td>
		</tr>
		<tr>
			<th>Site</th>
			<td><%= @venue.site_url %></td>
		</tr>
		
	</table>
	</div>
	<div data-inline="true">
		<a href="" data-role="button"> Event List</a>
	</div>
	
</div>