<!DOCTYPE html>
<html>
<head>
  <title>Iowa City Shows</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<meta name="description" content="A listing of shows in the Iowa City area optimized for your smart phone.">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
  <!--script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script-->
</head>
<body>

<%= yield %>

</body>
</html>
